# 配置文件
.env
config.json

# 系统文件
.DS_Store
Thumbs.db

# IDE/编辑器特定文件
.vscode/
.idea/
*.sublime-project

# 依赖项
node_modules/

# 日志文件
*.log

# 临时文件
tmp/
temp/
build/
bin/

# 大型数据文件
# *.sql  # 如果您不想包括大型 SQL 文件
